@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Fira Sans', sans-serif;
}


.btn {
    @apply rounded-md;

    &--small {
        @apply py-4 px-6;
    }

    &--primary {
        background: $primary-color;

        &:hover {
            background: lighten($primary-color, 5%);
        }
    }

    &--secondary {
        background: $secondary-color;

        &:hover {
            background: lighten($secondary-color, 5%);
        }
    }
}