@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');


.color-primary {
    color: $primary-color;
}

.color-secondary {
    color: $secondary-color;
}

.bg-primary {
    background: $primary-color;
}

.bg-secondary {
    background: $secondary-color;
}


$themes: (
    sticked: (
        'text-color': #1f1f1f,
        'bg-color': #fff,
        'fill': #1f1f1f
    ),
    noSticked: (
        'text-color': #fff,
        'bg-color': transparent,
        'fill': #fff
    )
);

@mixin theme() {

    @each $theme,
    $map in $themes {
        $theme-map: $map !global;

        .#{$theme} & {
            @content;
        }
    }

    $theme-map: null !global;
}

@function theme-get($key) {
    @return map-get($theme-map, $key);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Fira Sans', sans-serif;
}

.layout {
    position: relative;
    min-height: 100vh;
    padding-bottom: 20rem;

    @media(max-width: 640px) {
        padding-bottom: 26rem;
    }
}

h1 {
    @apply text-6xl;

    @media(max-width: 640px) {
        @apply text-5xl;
    }
}

h2 {
    @apply text-4xl;

    @media(max-width: 640px) {
        @apply text-2xl;
    }
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

.btn {
    @apply rounded-md font-normal;

    &--small {
        @apply py-3 px-6;
    }

    &--large {
        @apply py-4 px-12;
    }

    &--primary {
        color: white!important;
        background: $primary-color;
        transition: .3s;

        &:hover {
            background: lighten($primary-color, 5%);
        }
    }

    &--secondary {
        color: white!important;
        background: $secondary-color;
        transition: .3s;

        &:hover {
            background: lighten($secondary-color, 5%);
        }
    }

    &--darky {
        background: $dark-color;
        color: white;
        transition: .3s;

        &:hover {
            background: lighten($dark-color, 5%);
        }       
    }

    &:disabled {
        opacity: .3;
    }
}

#loading {
    display: inline-block;
    border: 6px solid #f8f8f8;
    border-radius: 50%;
    border-top-color: $primary-color;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }